.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: #F0F0F0;
    padding: 3px;
    display: flex;
    justify-content: center;  /* Centers left and right */
    align-items: center; /* Centers up and down */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}

#dots {
    position: fixed;  /* Stayes in the corner even when scrolling */
    top: 50%;  /* Distance from the top */
    left: 20px;  /* Distance from the left */
    display: flex;
    flex-direction: column;  /* Arrange dots vertically */
    gap: 8px;  /* Space between the dots */  
}

#dots span {
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
}

#container {
    background-color: #D7E2EF;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 360px;
    
} 

.card {
    background-color: white;
    width: 180px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.card img {
    width: 180px;
}

.text-container h2 {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.text-container p {
    font-size: 13px;
    color: gray;
    text-align: center;
}

